.taxonomy_container {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  border: 0.75px solid lightgray;
  align-items: center;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
  width: 1040px;
}

/* Four Style Sections: Start (Thesauri), Footer, Resultslist, TermInfo */

/* Start (Thesauri) view */
.taxonomy_container .center {
  text-align: center;
  margin-bottom: 15px;
}

.taxonomy_container .center button {
  font-size: 14px;
  line-height: 28px;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 5px;
  background-color: white;
  border: 2px solid #757575;
}

.taxonomy_container .center button a {
  color: black;
  text-decoration: none;
}

.taxonomy_container input[type=text] {
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #757575;
  width: 250px;
  font-size: 14px;
  line-height: 28px;
  padding-left: 5px;
  padding-right: 5px;
  height: 28px;
}

.taxonomy_container form input::placeholder {
  color: #515151;
}

.taxonomy_container .columns {
  text-align: center;
}

.taxonomy_container .col-1 {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  margin-top: 13px;
}

.taxonomy_container #selectAll {
  display: inline-block;
  vertical-align: top;
  text-align: left;
}

.taxonomy_container .col-2 {
  display: inline-block;
  vertical-align: top;
  text-align: left;
}

.taxonomy_container .col-3 {
  display: inline-block;
  vertical-align: top;
  text-align: left;
}

.taxonomy_container form input[type=checkbox] {
  border: 2.5px solid black;
  size: 10px;
}

/* Footer (appears in ResultsList and TermInfo views) */

.taxonomy_container pre {
  color: red;
  font-size: 14px;
  padding: 4px 8px;
  background: #f8f8f8;
  border-radius: 5px;
  border: 1px solid #e5e5e5;
  overflow-x: auto;
}

.taxonomy_container .footer {
  margin-top: 20px;
}

.taxonomy_container .footer button {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  margin-top: 8px;
}

/* ResultsList view */

.taxonomy_container .resultsList {
  margin-top: 20px;
}

.taxonomy_container .spinner {
  margin-left: 75px;
}

.taxonomy_container ul.pagination li {
  display: inline-block;
  text-align: center;
  width: 20px;
  line-height: 24px;
  margin: 3px 7px;
}

.taxonomy_container ul.pagination li.active {
  border-bottom: 2px solid black;
}

.taxonomy_container ul.pagination li a {
  color: black;
  text-decoration: none;
}

/* TermInfo view */

.taxonomy_container .breadcrumbs {
  margin: 25px 20px 20px auto;
}

.taxonomy_container .breadcrumbs h1, h2, h3, h4 {
  display: inline;
}

.taxonomy_container .termInfo span {
  display: block;
  background-color: #e8eff3;
  padding: 10px;
}

.taxonomy_container .termInfo p {
  margin-left: 20px;
}

.taxonomy_container hr {
  border: none;
  height: 3px;
  background-color: #94afbf;
  box-shadow: 0 1px 1px 0 gray;
}

.taxonomy_container .termRelation span {
  display: block;
  background-color: #e8eff3;
  padding: 10px;
}

.taxonomy_container .termRelation div {
  display: inline-block;
  vertical-align: top;
  margin: 5px 10px 5px 20px;
}

.taxonomy_container .termRelation p {
  margin: 15px auto 5px;
}

.taxonomy_container .termRelation li {
  list-style-type: none;
  margin-bottom: 3px;
}

.taxonomy_container .termRelation ul {
  padding-left: 0;
}


.taxonomy_container .termRelation img {
  margin-top: 10px;
}

.taxonomy_container .superTerms p {
  margin: 5px auto 5px 20px;
}

/* a sort of chevron shape with css, it's kinda awkward */
/* #arrow {
  margin: 0;
	border-color: transparent #94afbf;
	border-style: solid;
	border-width: 8px 0px 8px 10px;
	height: 0px;
	width: 0px;
} */