.taxonomy_container {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  border: 0.75px solid lightgray;
  align-items: center;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
  width: 1040px;
}

/* Four Style Sections: Start (Thesauri), Resultslist, TermInfo, Footer */

/* ------- Start (Thesauri or SearchBar) view ------- */
.taxonomy_container .center {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-align: center;
  margin-bottom: 15px;
}

.taxonomy_container .center button {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  line-height: 28px;
  height: 42px;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 5px;
  background-color: white;
  border: 2px solid #757575;
  color: black;
}

.taxonomy_container .center button a {
  text-decoration: none;
}

.taxonomy_container .center button:hover {
  border: 2px solid black;
}

.taxonomy_container .center input[type=text] {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  display: inline-block;
  /* vertical-align: top; */
  margin-left: 5px;
  margin-top: 0;
  border: 2px solid #757575;
  width: 250px;
  font-size: 16px;
  padding-left: 5px;
  padding-right: 5px;
  height: 36px;
}

.taxonomy_container .center input[type=text]::placeholder {
  color: #515151;
}

.taxonomy_container .center input[type=text]:hover {
  border: 2px solid darkgray;
}

.taxonomy_container .Select {
  display: inline-block;
  vertical-align: top;
  width: 250px;
  min-height: 1px;
  font-family: 'Lato', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
  text-align: left;
  border: none;
}

.taxonomy_container .Select__control {
  border: 2px solid #757575;
  border-radius: 0;
  font-family: 'Lato', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
  min-height: 1px;
  height: 42px;
}

.taxonomy_container .Select__input {
  min-height: 1px;
}

.taxonomy_container .Select__dropdown-indicator {
  min-height: 1px;
  padding-top: 0;
  padding-bottom: 0;
  color: #757575;
}

.taxonomy_container .Select__indicator-separator {
  min-height: 1px;
  height: 24px;
}

.taxonomy_container .Select__clear-indicator {
  min-height: 1px;
}

.taxonomy_container .Select__value-container {
  min-height: 1px;
  height: 40px;
  padding-top: 0;
  padding-bottom: 0;
}

.taxonomy_container .Select__single-value {
  min-height: 1px;
  padding-bottom: 2px;
}

/* ------- ResultsList view ------- */

.taxonomy_container .resultsList {
  margin-top: 20px;
}

.taxonomy_container .resultsList li {
  list-style-type: none;
  padding-bottom: 3px;
}

.taxonomy_container .spinner {
  margin-left: 75px;
}

.taxonomy_container ul.pagination li {
  display: inline-block;
  text-align: center;
  width: 20px;
  line-height: 24px;
  margin: 3px 7px;
}

.taxonomy_container ul.pagination li.active {
  border-bottom: 2px solid black;
}

.taxonomy_container ul.pagination li a {
  color: black;
  text-decoration: none;
}

/* ------- TermInfo view ------- */

.taxonomy_container .breadcrumbs {
  margin: 25px 20px 20px auto;
  display: inline-block;
}

.taxonomy_container .breadcrumbs h1, h2, h3, h4 {
  display: inline;
}

.taxonomy_container .termInfo span {
  display: block;
  background-color: #e8eff3;
  padding: 10px;
}

.taxonomy_container .termInfo p {
  margin-left: 20px;
}

.taxonomy_container hr {
  border: none;
  height: 3px;
  background-color: #94afbf;
  box-shadow: 0 1px 1px 0 gray;
}

.taxonomy_container .termRelation span {
  display: block;
  background-color: #e8eff3;
  padding: 10px;
}

.taxonomy_container .termRelation div {
  display: inline-block;
  vertical-align: top;
  margin: 5px 10px 5px 20px;
}

.taxonomy_container .termRelation p {
  margin: 15px auto 5px;
}

.taxonomy_container .termRelation li {
  list-style-type: none;
  margin-bottom: 3px;
}

.taxonomy_container .termRelation ul {
  padding-left: 0;
}


.taxonomy_container .termRelation img {
  margin-top: 10px;
}

.taxonomy_container .superTerms {
  margin: 15px auto;
}

.taxonomy_container .superTerms p {
  margin: 5px auto 5px 20px;
}

.taxonomy_container .superTerms ul {
  padding-left: 0;
  margin-left: 20px;
}

.taxonomy_container .superTerms li {
  list-style-type: none;
}

.taxonomy_container .newSearch {
  float: right;
  margin: 15px 0px 0px 15px;
}

/* ------- FloatingSearchBox on ResultsList and TermInfo views ------- */

.taxonomy_container .newSearch input {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  display: inline-block;
  /* vertical-align: top; */
  margin-left: 5px;
  margin-top: 0;
  border: 2px solid #757575;
  width: 200px;
  font-size: 16px;
  padding-left: 5px;
  padding-right: 5px;
  height: 28px;
}

.taxonomy_container .newSearch input[type=text]:hover {
  border: 2px solid darkgray;
}

.taxonomy_container .newSearch button {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  /* line-height: 28px; */
  height: 34px;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 5px;
  background-color: white;
  border: 2px solid #757575;
  color: black;
}

.taxonomy_container .newSearch button > a {
  text-decoration: none;
}

.taxonomy_container .newSearch button:hover {
  border: 2px solid black;
}

/* Footer (appears in ResultsList and TermInfo views) */
/*
.taxonomy_container pre {
  color: red;
  font-size: 14px;
  padding: 4px 8px;
  background: #f8f8f8;
  border-radius: 5px;
  border: 1px solid #e5e5e5;
  overflow-x: auto;
}

.taxonomy_container .footer {
  margin-top: 20px;
}

.taxonomy_container .footer button {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  margin-top: 8px;
}
*/
/* a sort of chevron shape with css, it's kinda awkward */
/* #arrow {
  margin: 0;
	border-color: transparent #94afbf;
	border-style: solid;
	border-width: 8px 0px 8px 10px;
	height: 0px;
	width: 0px;
} */